/*

    This is the main less file that describes the slyle for all app. 

    Author: Sousa Gaspar
    Date: 23.07.2018
    all rights reserved

*/


//imports
@import 'colors';
@import 'gradients';
@import 'assets';



.screen {

    margin: 0px;
    padding: 0px;

}

.topHeader {


    .standardGreenGradient;

    padding: 2%;

    color: @pureWhite;


    .logo {
        float: left;
    }

    .listMenu {

        float: right;

        ul {
            padding: none;
            margin: none;

            li {
                list-style-type: none;
                float: left;
                padding-left: 1%;
            }
        }

    }


}//End topHeader



